.trTitle{
	margin-top:50px;
	font-weight:bold;
}
.trBody{
	border-top: 1px solid #e5e5e5;
	padding:15px;
	word-break:break-all;
	margin-top:25px;
	margin-left:150px;
	margin-right:150px;
	font-weight:bold;
	font-size:18px;
	line-height:30px;
}

.exam_margin{
	margin-left: 24px;
}

.margin_liTitle{
	margin-top: 12px;
    margin-bottom: 12px;
    font-weight: normal;
    line-height: 28px;
/*     font-size: 14px; */
}

.ace_option{
	opacity: 0;
    position: absolute;
    z-index: 12;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
ul li{
	list-style:none;
}

opcont{
	position:relative;
	z-index:11;
	display:inline-block;
	margin:0;
	line-height:20px;
	min-height:18px;
	min-width:18px;
	font-weight:normal;
}
.checks{
/* 	border:#0033CC solid 2px; */
width: 15px;
height: 15px;
display: block;
clear: left;
float: left;
cursor: pointer;
}
.excont{
	font-size:15px;
}
.center{
	text-align:center;
}

.mycontent{
	font-family:"微软雅黑";
}
.item-info {
/*     border: 1px solid #dadada; */
    margin: 20px;
/*     padding: 20px 20px 10px; */
	font-family:"微软雅黑";
	font-size:14px;
	color:#999;
}


.dp-table {
    display: table;
    width: 100%;
}
.margin-l-12 {
    margin-left: 12px;
}
.margin-tb-12 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.c9 {
    color: #999;
}